.main {
  background-color: var(--bg-color);
  padding-top: 5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.main h1 {
  color: var(--text-color);
}
