header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--bg-color)
}
header h1{
    margin-right: auto;
    color: var(--text-color);
}
header .navbar > *{
    cursor: pointer;
    margin-left: 1rem;
    color: var(--text-color);
    transition: all 0.2s ease;
}

.navbar.loading{
    opacity: 1;
    transition: all 0.2s ease;
}
.navbar.loading{
    opacity: 0;
    transition: all 0.2s ease;
}